@import "reset";
$white: #fff;
$black: #000;
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
body {
  padding-top: 80px;
  min-height: 1000vh;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}
.invisible {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.btn-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #000;
  color: $white;
  & a {
    color: inherit;
  }
  &__nav {
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav {
    &__menu {
      display: flex;
      align-items: center;
    }
    &__action {
      display: flex;
      align-items: center;
    }
  }
  .menu__home {
    margin-right: 20px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 20px;
  }
  .menu__item {
    margin-right: 14px;
    &-link {
      display: inline-flex;
      align-items: center;
      gap: 8px;
    }
  }
  .action {
    &__darkmode {
      font-size: 20px;
      margin-right: 20px;
    }
    &__search {
      margin-right: 14px;
      display: flex;
      align-items: center;
      &-input {
        display: none;
      }
    }
    &__signup {
      padding: 10px 20px;
      background-color: $white;
      color: $black;
      font-weight: 500;
      border-radius: 40px;
      font-size: 16px;
    }
  }
}
.main {
  &__header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    border-bottom: 1.4px solid #d8d5d5;
    &-link {
      color: $black;
      font-weight: 600;
      font-size: 22px;
    }
    &-nav {
      display: flex;
      transition: color ease-in 200ms;
    }
    &-item {
      color: #6b6565;
      font-weight: 500;
      margin-right: 16px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: #2e2b2b;
      }
    }
  }
}
.content {
  padding-top: 30px;
  max-width: 960px;
  margin: 0 auto;
  &__heading {
    padding: 40px;
    &-category {
      font-size: 16px;
      font-weight: 500;
      color: #2e2b2b;
    }
    &-title {
      font-size: 50px;
      font-weight: 500;
      letter-spacing: -2px;
      margin-bottom: 10px;
    }
    &-infor {
      display: flex;
      align-items: center;
      color: #6b6565;
      font-size: 14px;
    }
    &-time {
      margin-right: 10px;
    }
    &-author a {
      font-weight: 500;
      color: #2e2b2b;
      transition: color ease-in 250ms;
      &:hover {
        color: $black;
      }
    }
  }
  &__media {
    &-aspectratio {
      position: relative;
      height: 0;
      width: 100%;
      padding-top: 56.25%;
      margin-bottom: 20px;
    }
    &-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
    &-caption {
      padding: 20px 50px 20px;
    }
  }
}
.social {
  position: fixed;
  top: 30%;
  left: calc((100% - 1100px) / 2);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  transition: opacity ease-in 150ms;
  &__text {
    margin-bottom: 20px;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 14px 0;
    text-align: center;
  }
  &__item-link {
    color: #6b6565;
    transition: all ease-in 150ms;
    &:hover {
      color: #2e2b2b;
    }
  }
  &__item-icon {
    font-size: 20px;
  }
}
